<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <title>Title</title>
</head>
<body>
  <div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card text-center">
      <div class="card-body">
        <h4><i class="fas fa-user-circle"></i> Connexion</h4>
        <form action="/login" method="post">
          <!-- Email input -->
          <div class="form-outline mb-4">
              <input type="email" id="adresseEmail" class="form-control" name="adresseEmail" />
              <label class="form-label" for="adresseEmail">Adresse Email</label>
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
              <input type="password" id="motDePasse" class="form-control" name="motDePasse" />
              <label class="form-label" for="motDePasse">Mot de passe</label>
          </div>
          <div>
            <p th:text="${err}" class="text-danger font-weight-bold"></p>
          </div>
          
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Connexion</button>
      </form>
      
      
      </div>
    </div>
  </div>
  
  
  


</body>
</html>